@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl;
  }
}

@layer components {
  .cursor {
    @apply absolute bg-[#ffffff] left-0 top-0 w-[3px] h-[1.75rem] transition-all;
  }

  .word {
    @apply whitespace-pre px-2;
  }

  .char {
    @apply p-0;
  }

  .right {
    @apply bg-green-300  transition-all;
  }

  .wrong {
    @apply bg-red-300  transition-all;
  }

  .unfocused {
    @apply blur-sm;
  }

  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
  }

  .path {
    stroke: #ffffff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
